{% extends 'admin/index.html.twig' %}



{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}map:{{ events.nom }}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.6.0/maps/maps.css'/>
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.6.0/maps/maps-web.min.js'></script>
    <style>
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100vw;
            height: 100vh;
        }
    </style>

<body>
<div id='map'></div>
<script>
    var {{ events.nom }} = [{{ events.lng }},{{ events.lat }}];
    var map = tt.map({
        container: 'map',
        key: 'sSy5bWS27B8o9miEA7eQ1JaPtffwEOTn',
        center: {{ events.nom }},
        zoom: 6
    });

    var marker = new tt.Marker().setLngLat({{ events.nom }}).addTo(map);
    var popupOffsets = {
        top: [0, 0],
        bottom: [0, -70],
        'bottom-right': [0, -70],
        'bottom-left': [0, -70],
        left: [25, -35],
        right: [-25, -35]
    }
    var customPopup = '<p style="display:inline">' +
        '<div style="width:50%; height:100%; padding-top:10px"><span style="font:14px Gotham">{{ events.nom }}</span></br>' +
        '<div style="width:50%; height:100%; padding-top:10px"><span style="font:14px Gotham">{{ events.description }}</span></br>' +
        '<span style="font:10px Gotham">date de debut : {{ events.getDateDeb()|date("Y-M-D")}}<br/>date de fin : {{ events.getDateFin()|date("Y-M-D")}}</span></br>' +
        '</div></p>';

    var popup = new tt.Popup({offset: popupOffsets}).setHTML(customPopup);
    marker.setPopup(popup).togglePopup();
</script>
</body>
</html>
{% endblock %}